<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC2a_kOxZVRwTPjPs3y0H3hAmxg_BS9f2s</string>
	<key>GCM_SENDER_ID</key>
	<string>487666659299</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fullEcommerce</string>
	<key>PROJECT_ID</key>
	<string>ecommerce-73fbb</string>
	<key>STORAGE_BUCKET</key>
	<string>ecommerce-73fbb.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:487666659299:ios:e084de4fc2e0085c4cfad6</string>
</dict>
</plist>